<div class="container">

  <div class="row" >
      <input autofocus type="text" (keyup.enter)="getCharacters()" [(ngModel)]="filterName"
             placeholder="Enter start of character name">
  </div>

  <ng-container *ngFor="let char of characters">
    <div class="list-group-item">

      <img src="{{char.thumbnail.path}}/portrait_small.{{char.thumbnail.extension}}"/>
      {{char.name}}

      <ng-container *ngFor="let url of char.urls">
        <a target="_blank" href="{{url.url}}" class="btn btn-primary">
          {{url.type}}
        </a>
      </ng-container>
    </div>
  </ng-container>

</div>
